{{ define "main" }}

{{ $paginator := .Paginate (where .Site.Pages ".Params.tags" "intersect" (slice .Title)) }}
{{ range $paginator.Pages }}
<div class="tile">
    <article class="tile is-child">
        <p class="title is-size-4">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </p>
        <p class="subtitle is-size-6">
        published at {{ .Date.Format "2006-01-02" }} &middot;
        <i class="far fa-clock"></i>&nbsp;{{.ReadingTime}} min read
        </p>
        <div class="content">
        <p>{{ .Summary }}...</p>
        </div>
    </article>
</div>
<hr>
{{ end }}

{{ $.Scratch.Set "paginator" $paginator }}
{{- partial "pagination.html" . -}}

{{ end }}