{{ define "main" }}

{{ $paginator := .Paginate (where .Site.Pages ".Params.tags" "intersect" (slice .Title)) }}
{{ range $paginator.Pages }}
<div class="tile">
    <article class="tile is-child">
        <p class="title is-size-4">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </p>
        <p class="subtitle is-size-6">
        published at {{ .Date.Format "2006-01-02" }} &middot;
        <i class="far fa-clock"></i>&nbsp;{{.ReadingTime}} min read
        </p>
        <div class="content">
        <p>{{ .Summary }}...</p>
        </div>
    </article>
</div>
<hr>
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
<nav class="pagination" role="navigation" aria-label="pagination">
    {{ if $paginator.HasPrev }}
    <a class="pagination-previous" href="{{ $paginator.Prev.URL }}">Previous</a>
    {{ end }}
    {{ if $paginator.HasNext }}
    <a class="pagination-next" href="{{ $paginator.Next.URL }}">Next page</a>
    {{ end }}

    <ul class="pagination-list">

    {{ if lt $paginator.TotalPages 6}}
        {{ $.Scratch.Set "page_number_flag" true }}
    {{ end }}

    {{ range $paginator.Pagers }}

      
        {{ $lowerLimit := sub $paginator.PageNumber 1 }}
        {{ $upperLimit := add $paginator.PageNumber 1 }}

        {{ if eq ($.Scratch.Get "page_number_flag") true }}
            <li>
            <a class="pagination-link{{ if eq . $paginator }} is-current{{ end }}" href="{{ .URL }}">
                {{ .PageNumber }}
            </a>
            </li>
        {{ else }}
            
            {{ if or (and (gt .PageNumber 1) (lt .PageNumber $lowerLimit)) (and (gt .PageNumber $upperLimit) (lt .PageNumber $paginator.TotalPages))}}
                {{ if or (eq (sub .PageNumber 1) 1)  (eq (sub .PageNumber $upperLimit) 1)}}
                <li>
                <span class="pagination-ellipsis">&hellip;</span>
                </li>
                {{ end }}
            {{ else }}
                <li>
                    <a class="pagination-link{{ if eq . $paginator }} is-current{{ end }}" href="{{ .URL }}">
                        {{ .PageNumber }}
                    </a>
                </li>
            {{ end }}
            
        {{ end }}
    {{ end }}
    </ul>
  </nav>
{{ end }}

{{ end }}